OWNER_NAME="Fearless boy"
PREFIX="-"
PUBLIC_MODE='non'
AUTO_READ_STATUS="non"
AUTO_DOWNLOAD_STATUS="oui"
BOT_NAME= "FEARLESS-MD"
IMAGE_MENU= ".https://telegra.ph/file/6c427a022b3adccd535b2.jpg"
NUMERO_OWNER= ""
OWNER_NAME= "᚛Fearless-Boh᚜"
DATABASE_URL= ""
WARN_COUNT= ""
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='yes'
